@page
@using assytraining.api.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <ul>
            <li>
                <a href="https://assytrainning.azurewebsites.net/configuracao-atividade.html">/configuracao-atividade.html</a>
            </li>
            <li>
                <a href="https://assytrainning.azurewebsites.net/json-params-atividade">/json-params-atividade</a>
            </li>
            <li>
                <a href="https://assytrainning.azurewebsites.net/deploy-atividade">/deploy-atividade</a>
            </li>
            <li>
                <a href="https://assytrainning.azurewebsites.net/analytics-atividade">/analytics-atividade</a>
            </li>
            <li>
                <a href="https://assytrainning.azurewebsites.net/lista-analytics-atividade">/lista-analytics-atividade</a>
            </li>
            <li>
                <a href="https://assytrainning.azurewebsites.net/atividade">/atividade</a>
            </li>
            <li>
                <a href="https://assytrainning.azurewebsites.net/atividade">/atividade</a>
            </li>
            <li>
                <a href="https://assytrainning.azurewebsites.net/swagger/index.html">/swagger/index.html</a>
            </li>
        </ul>
    </div>
</div>
